@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

:root {
    --color-primary: #f00;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
.login-wrapper{
text-align: center;
}